<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.opentaxi.android"
          android:versionName="1.0.1"
          android:versionCode="2"
          android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--ACRA If the READ_PHONE_STATE permission is granted, reports include the Unique Device Identifier (IMEI)-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <!--Permission Denial: can't dump meminfo from from pid=2322, uid=10106 without permission android.permission.DUMP-->
    <uses-permission android:name="android.permission.DUMP"/>

    <uses-feature
        android:name="android.hardware.location"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.opentaxi.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.opentaxi.android.permission.C2D_MESSAGE"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".TaxiApplication"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:persistent="true">

        <!--<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:finishOnTaskLaunch="true">
            <!--android:launchMode="singleInstance"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserPassActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".NewClientActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".LostPasswordActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>

        <activity
            android:name=".MessageActivity"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>

        <activity
            android:name=".NewRequestActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".RequestsActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".EditRequestActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".RequestDetailsActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".ServersActivity_"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.White">
        </activity>

        <!--osmap-->
        <activity
            android:name=".map.AdvancedMapViewer"
            android:theme="@style/Mapsforge"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".map.preferences.EditPreferences"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity
            android:name=".map.filepicker.FilePicker"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity
            android:name=".map.InfoView"
            android:theme="@android:style/Theme.NoTitleBar"
            android:allowTaskReparenting="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>

        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.opentaxi.android" />
            </intent-filter>
        </receiver>

        <receiver android:name=".NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService"/>
        <!--<service android:name=".communication.TaxiDriverService" android:enabled="true"/>-->
        <!--<service android:name=".service.GPSService" android:process=":gps_coordinates" android:enabled="true"
                 android:permission="android.permission.ACCESS_FINE_LOCATION"/>-->
        <!--<service android:name="com.opentaxitaxi.rest.LoginService"/>-->

        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService"/>

        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver"
            android:exported="true"/>

        <receiver android:name=".service.UserGpsBroadcastReceiver">
            <intent-filter>
                <action
                    android:name="com.opentaxi.android.littlefluffylocationlibrary.LOCATION_CHANGED"
                    android:exported="true"/>
            </intent-filter>
        </receiver>

    </application>

</manifest> 
